body {
  margin:0;
  padding:0;
  background-color: #e3f2fd;
  font-family: 'Playfair Display', serif; 
  
}

.jumbotron {
    background-image: url("photos/lake_sherburne_withtext.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px; 
}

p {
  margin: 25px;
  
}

h2{
  text-align: center;
}


.carousel {
    min-height: 600px; 
    margin-bottom: 40px;
}


.row {
    margin-top: 60px;
    margin-bottom: 60px;
}





/* jQuery Plugin*/

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
}
 
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
   position: relative;
  }

.fa-twitter {
  background: #55ACEE;
  color: white;
  
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

    
    


