body {
  background-color: #e3f2fd;
  font-family: 'Source Sans Pro', sans-serif; 
  !important;
}

.jumbotron {
    background-image: url("../photos/lake_sherburne_withtext.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px; 
}

.h3{
  font-style: oblique;
}

.carousel {
    min-height: 600px; 
    margin-bottom: 40px;
}

.caption { 
  
} 

.eowilson {
    font-family: 'Playfair Display', serif !important;
}

.row {
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    float:none !important;
}




/* jQuery Plugin*/

.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

    
    


