body {
  margin:15px;
  padding:10px;
  background-color: #e3f2fd;
  font-family: 'Playfair Display', serif; 
  
  
}

.jumbotron {
    background-image: url("photos/lake_sherburne_withtext.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px; 
}


img {
    background-image: url("...photos/rocky_mtn_wildflowers.jpg"); 
}


p {
  margin: 25px;
  
}


h1{
  text-align: center;
  font-size: large;
  color: #000000;
}

h3{
  text-align: center
}

.carousel {
    min-height: 600px; 
    margin-bottom: 40px;
}

label{
  padding: 10px 10px 10px;
}
.row {
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #8B008B;
    
}

.right{
  
margin:auto;
width:100%;
text-align: center;
}

/* jQuery Plugin*/

.fa {
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  position: relative;
  }

.fa-twitter {
  background: #55ACEE;
  color: white;
  
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

   /*The Quiz */
   
   body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-weight: 600;
    margin-left: 20px;
    padding: 10px;
}
.answers {
  margin-bottom: 20px;
  margin-left: 40px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}




    


